.header-title{
    color: #272727;
font-family: Lato;
font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.header-p{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.header-button{
    border-radius: 8px;
background: #E55473;
}
.tulip{
    height: 500px;
    width: 400px;

}
header{
    height: 800px;
    width: 100%;
    background: rgba(229, 84, 115, 0.10);
}